################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Comcalen/v16/Browse.VC.opendb
/x64
/Comcalen/x64
/.vs/Comcalen/v16
.vs/
