################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Comcalen/v16/Browse.VC.opendb
/.vs/Comcalen/v16
/Comcalen/x64/Debug
/x64/Debug
/enc_temp_folder/5d76724e2e7260f09aa3f7170b3769a
